<!DOCTYPE html>
<html>
  <head>
    <title>Share Place</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
           <% if user_signed_in? %>
             <%= link_to 'Share Place', user_share_places_path(current_user), class: 'navbar-brand' %>
           <% else %>
             <%= link_to 'Share Place', root_path, class: 'navbar-brand' %>
           <% end %>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav pull-right">
            <% if user_signed_in? %>
              <li><%= link_to current_user.name, edit_user_registration_path %></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Log In', new_user_session_path %></li>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="flash-message">
        <% flash.each do |key, value| %>
          <p class="bg-<%= key %>">
            <%= value %>
          </p>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
